*.odt
*.xlsx
*.nb
*.exe
.vscode
Dispersal version/
New totals system version/
testing/*
!testing/oracle data
build/
lib/
old files/
output files/
html/
latex/
Doxyfile
test.cpp
test.exe
alpha0_test.py
performance tests/
